# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

.idea/
projet/target/
__pycache__/


.vscode/*
DATA/Readme.pdf
DATA/Customer/person_0_0.csv
DATA/Feedback/Feedback.csv
DATA/Invoice/Invoice.xml
DATA/Invoice/xml.dtd
DATA/Order/Order.json
DATA/Product/BrandByProduct.csv
DATA/Product/Product.csv
DATA/SocialNetwork/person_hasInterest_tag_0_0.csv
DATA/SocialNetwork/person_knows_person_0_0.csv
DATA/SocialNetwork/post_0_0.csv
DATA/SocialNetwork/post_hasCreator_person_0_0.csv
DATA/SocialNetwork/post_hasTag_tag_0_0.csv
DATA/Vendor/Vendor.csv
