DATA/SocialNetwork/person_hasInterest_tag_0_0.csv filter=lfs diff=lfs merge=lfs -text
DATA/Invoice/Invoice.xml filter=lfs diff=lfs merge=lfs -text
DATA/Product filter=lfs diff=lfs merge=lfs -text
DATA/Order filter=lfs diff=lfs merge=lfs -text
DATA/SocialNetwork/person_knows_person_0_0.csv filter=lfs diff=lfs merge=lfs -text
DATA/Vendor filter=lfs diff=lfs merge=lfs -text
DATA/Feedback/Feedback.csv filter=lfs diff=lfs merge=lfs -text
DATA/Invoice/xml.dtd filter=lfs diff=lfs merge=lfs -text
DATA/Order/Order.json filter=lfs diff=lfs merge=lfs -text
DATA/Product/BrandByProduct.csv filter=lfs diff=lfs merge=lfs -text
DATA/Product/Product.csv filter=lfs diff=lfs merge=lfs -text
DATA/SocialNetwork filter=lfs diff=lfs merge=lfs -text
DATA/SocialNetwork/post_0_0.csv filter=lfs diff=lfs merge=lfs -text
DATA/SocialNetwork/post_hasCreator_person_0_0.csv filter=lfs diff=lfs merge=lfs -text
DATA/Customer filter=lfs diff=lfs merge=lfs -text
DATA/Invoice filter=lfs diff=lfs merge=lfs -text
DATA/SocialNetwork/post_hasTag_tag_0_0.csv filter=lfs diff=lfs merge=lfs -text
DATA/Readme.pdf filter=lfs diff=lfs merge=lfs -text
DATA/Vendor/Vendor.csv filter=lfs diff=lfs merge=lfs -text
DATA/Customer/person_0_0.csv filter=lfs diff=lfs merge=lfs -text
DATA/Feedback filter=lfs diff=lfs merge=lfs -text
